# 안녕하세요:)

## AIVLE 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.
* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## 개인과제
* 데이터 구조, 분포 확인, 전처리 : 1.1_버스정류장데이터 / 1.2 유동인구데이터 / 1.3_주민등록데이터 / 1.4_업종등록데이터
* 데이터간 관계 가설 수립 및 검증 : 1.5_데이터 분석

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
    - 버스 승하차 및 운행 노선 데이터 

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [42]:
import pandas as pd

In [43]:
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [44]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [49]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving
# 구별 상권 데이터 - df_seoul_business
# 구별 등록 인구 데이터 - df_seoul_people
df_seoul_business = pd.read_csv('C:/Users/User/Desktop/mini1/AIVLE/df_seoul_business.csv', encoding = 'UTF-8')
df_seoul_moving = pd.read_csv('C:/Users/User/Desktop/mini1/AIVLE/df_seoul_moving.csv', encoding = 'UTF-8')
df_seoul_bus_station = pd.read_csv('C:/Users/User/Desktop/mini1/AIVLE/df_seoul_bus_station.csv', encoding = 'UTF-8')
df_seoul_people = pd.read_csv('C:/Users/User/Desktop/mini1/AIVLE/df_seoul_people.csv', encoding = 'UTF-8')

In [50]:
df_seoul_moving['도착 시군구 코드'] = standard['자치구']
df_seoul_moving.rename(columns = {'도착 시군구 코드':'자치구'}, inplace = True)
df_seoul_moving.head()

   Unnamed: 0  자치구   평균 이동 시간   평균 이동 인구   총 이동 시간      총 이동 인구
0           0  종로구  21.443330  41.486279  10239340  19809988.63
1           1   중구  21.166269  41.724896  10285410  20275545.43
2           2  용산구  21.553622  34.636181   9488120  15247193.24
3           3  성동구  21.950757  39.869241   9952210  18076235.50
4           4  광진구  22.779081  43.671869   9761770  18715186.44

In [55]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
a = pd.merge(df_seoul_business,df_seoul_bus_station, how = 'i자치nner', on = '구')
b = pd.merge(df_seoul_moving,df_seoul_people, how = 'inner', on = '자치구')
seoul_df = pd.merge(a,b, how = 'inner', on = '자치구')

In [56]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
seoul_df.drop(['Unnamed: 0_x'], axis = 1, inplace = True)
seoul_df.drop(['Unnamed: 0_y'], axis = 1, inplace = True)
seoul_df.head()

,자치구,택시운송업사업체수,커피전문점사업체수,한식 일반 음식점업사업체수,기타주점업사업체수,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,...,남자,여자,한국인합,한국인남자,한국인여자,외국인합,외국인남자,외국인여자,세대당인구,65세이상고령자
0,종로구,215,948,1548,537,349,114,5468935,5205394,131.889620,...,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
1,중구,230,869,1588,381,178,110,3776675,3598932,121.020124,...,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
2,용산구,416,634,857,487,323,72,4189977,4086474,137.891694,...,114571,121947,222169,106735,115434,14349,7836,6513,2.00,39461
3,성동구,1200,547,956,285,435,60,2807280,2746738,96.377369,...,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
4,광진구,1119,590,963,633,269,44,2749448,2753411,118.352546,...,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604

In [57]:
seoul_df.columns

Index(['자치구', '택시운송업사업체수', '커피전문점사업체수', '한식 일반 음식점업사업체수', '기타주점업사업체수', '정류장수',
       '노선수', '승차총승객수', '하차총승객수', '승차평균승객수', '하차평균승객수', '평균 이동 시간', '평균 이동 인구',
       '총 이동 시간', '총 이동 인구', '기간', '세대', '총인구', '남자', '여자', '한국인합', '한국인남자',
       '한국인여자', '외국인합', '외국인남자', '외국인여자', '세대당인구', '65세이상고령자'],
      dtype='object')

In [60]:
seoul_df['기간']

0     2022.1/4
1     2022.1/4
2     2022.1/4
3     2022.1/4
4     2022.1/4
5     2022.1/4
6     2022.1/4
7     2022.1/4
8     2022.1/4
9     2022.1/4
10    2022.1/4
11    2022.1/4
12    2022.1/4
13    2022.1/4
14    2022.1/4
15    2022.1/4
16    2022.1/4
17    2022.1/4
18    2022.1/4
19    2022.1/4
20    2022.1/4
21    2022.1/4
22    2022.1/4
23    2022.1/4
24    2022.1/4
Name: 기간, dtype: object

---

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

? 정해진게 없나요? - 네 라벨을 개인및 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다
? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다
? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

### 가설을 설정해 봅시다 (인당 최소 3개) - 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1

* 가설 2

* 가설 3

## 2.단변량 분석

+ 변수의 비즈니스 의미  

+ 숫자? 범주?  

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용(비즈니스!) 정리  

+ 추가 분석해볼 사항 도출

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='nanum')
sns.set(font="NanumGothicCoding",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

In [ ]:
target =

### 1)

### 2)

### 3)

### 상관계수를 구하고 HeatMap으로 시각화 후 나름의 분석을 해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.
import scipy.stats as spst

spst.pearsonr(X,Y)

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.

sns.heatmap(seoul_bus_station.corr(), annot = True)
plt.show()

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

## 4.관계 정리

### 1) 강한 관계의 변수

### 2) 약한 관계의 변수

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?